body{
    margin:0px;
    padding:0px;
}

p{
    color:red;
}

.header{
    background-image: linear-gradient(to left,rgba(157, 8, 226, 0),rgb(71, 2, 99));
    background-color: lightcoral;

}
.header h1{
    text-align: center;
}

@media(max-width:800px){
    .header{
        background-color: red;
    }
    
}

.card h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:2px 2px 5px rgb(107, 39, 107);
}

.card a:hover{
    color:firebrick;
}

